* {
  background-color: rgb(241, 218, 240);
  margin: 10px;
  padding: 5px;

  border-color: rgb(235, 114, 240);
}
#buttons {
  padding: 10px;
  margin-left: 140px;
  background-color: rgb(228, 139, 139);
}

.image {
  height: 100px;
  width: 100px;
}
